<!DOCTYPE html>
<html>
  <head>
    <title>WVU Pattern Library - Masthead Links Module</title>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    {{#_wvu-masthead__links.css}}
    <link href="{{src}}" rel="stylesheet" />
    {{/_wvu-masthead__links.css}}
  </head>
  <body>
    {{> partials/_wvu-masthead__links}}
  </body>
</html>
